@font-face{
    font-family: "Futura";
    src: url("font/Futura.ttc");
}
body{
	background-color: #0D0D0D;
}

nav{
	background-color: black;
}


#contenedor{
    width: 91%;
}

.logo{
	margin: 5px 0px;
	margin-left: -20px;
}

a.logo{
	display: block;
	text-decoration: none;
	color: white;
}

.logo img{
	margin:  10px 0 ;
	height: 18px;
	width: auto;
	margin-left: 20px;
}

.hidden-legend{
	display: none;
}

.lang{
	text-align: right;
}

.lang a{
	text-decoration: none;
	color: lightgray;
	display: inline-block;
	padding: 0px 5px;
	margin: 15px 0px;
}

.v-splitter{
	border-left: 2px solid white;
}

@media only screen and (max-width: 768px) {
    /*  [class*="col-"] {
        width: 100%;
    }For mobile phones: */
   
}
/***********************************************************************************************/

.content{
	background-color: white;
	padding: 20px 40px;
	/*width: 1436px;
	margin-left: -302px;*/
	margin-bottom: 60px;
	font-family: "Futura";
	text-align: center;
	font-size: 17px;
	justify-content: center;
	left: 100px;
}

.left-nav {
	padding-top: 20px;   
    height:auto;
    position:fixed;
    background: black;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
    font-family: "Futura";
    left: 0;
    z-index: 1;
    
}

.left-nav ul {
    margin:0 auto;
    height:100%;   
   	border-top: 1px solid lightgray; 
   	opacity: 0.6;
   	list-style: none; 

}

.left-nav ul li:hover{
	background-color: orange;
}

.left-nav ul li {

    /*padding-top:124px*/
    margin-right:0px;
    float:left;
    line-height:45px;
}


.left-nav ul li a {
	font-weight: bold;
	font-size: 16px;       
    color:gray;
    line-height: 60px; 
    text-decoration: none;
    border-left: 1px solid lightgray;
    padding: 20px;
}

.left-nav ul li:first-child > a{
	border-left: none;
}

.left-nav ul li a:hover{
	color: white;
}
/*.rotated-menu{
	list-style-type: none;
	display: block;
	padding: 0px;
	border: 1px solid yellow;
	width: 30px;
}

.rotated-menu li{
	margin: 40px;
	margin-bottom: 100px;
	margin-left: 0px;
}

.rotated-menu li a{
	text-align: center;
	min-width: 100px;
	
	display: block;
	border: 1px solid blue;
	-webkit-transform:rotate(-90deg);
}
*/
/*NAVBAR WITH OVERLAY MENU*/

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #242424;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    background-color: black;
}
.navbar-toggle {
  float: right !important;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
}

.modal{
	background-color: rgba(0,0,0,.75);
	color: gray;
}

.modal-nav-body ul{
	padding: 0px;
}

.modal-header{
	margin: 5% 0;
	border: none;
}

.modal-header .close{
	font-size: 20px;
	color: white;
}

.modal-nav-body ul a {

  list-style-type: none;
  color: #5a5a5a;
  font-family: "Futura";
  margin: 0;
  padding: 0;
  width: 100%;

  text-decoration: none;
  font-weight: bold;
}

.modal-nav-body ul a:hover{
	color: #26a9e0;
   	
}

.modal-nav-body ul li {
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  padding: 5px 0;
  text-transform: uppercase;
	
}

.navbar{
	background-color: black;
	border: none;
}
/**********************************/

@media(max-width: 768px){
    .teaminfo {
       // margin-bottom: 70px;  
    }
}

@media only screen and (max-width: 360px){
	.modal-nav-body ul{
		margin-top: 15%;
	}
}

.img-team{
	display: block;
	width: 100%;
	height: auto;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    justify-content: center;

}

.img-team:hover{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.teaminfo{
	display: block;
	margin-top: 30px;
}

.caption{
	
	height: 25%;
	-webkit-transition: all .6s;
	background-color: white;
	margin-left: 0;
	padding: 0px;
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0px 2px 10px darkgray;
	padding: 10px 20px;
	text-align: right;

}

/*Rol*/
.caption p{
	opacity: 0.6; 
	font-family: "Open Sans";
	font-size: 1vw;
	font-weight: bold;
}

/*Nombre*/
.caption h4{ 
	
	font-size: 2vw;
	font-weight: bolder;
	
}

.skills{
	text-align: center; /*hidden skills*/
	opacity: 0;
	font-family: "Open Sans"
	font-size:1.2em;
	
}

.caption:hover .skills	{
	opacity: 0.5;
	transition: all .9s;
}


.caption:hover{
	height: 130px;
	-webkit-transition: all .5s;
	transition: all .3s;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
    opacity: 1;
}

.footer{
	display: block;
	background-color: black;
	padding: 0px 20px;
	font-family: "Futura";
}

.footer-menu{
	padding: 0px;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 30px;
}

.footer-menu li{
	display: inline-block;
	margin-right:20px;
}

.footer-menu li a{
	color: white;
	text-decoration: none;
	padding-right: 20px;
}

.social img{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 20px; 
}

.addresses{
	background-color: #f8f8f8;
	color: black;
	padding: 20px;
}

h1{
	font-size: 2em;
}

